<div class="main-div">
    <div
      style="
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      "
    >
      <span
        style="
          display: flex;
          justify-content: end;margin-left: 45%;
          align-items: center;
        "
        >Don't have an account?<button class="login-btn" (click)="submitLogin()">
          Signup
        </button></span
      >
      <form [formGroup]="createplace" style="width: 80%">
        <h1 style="text-align: center">Create Places</h1>
        <div class="row main-row">
          <div class="col main-col">
            <label class="mb-1">Place Name</label>
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="place" />
              <mat-error *ngIf="!createplace.controls['place'].valid && submitted">
                place is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col main-col">
            <label class="mb-1">Description</label>
  
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="description" />
              <mat-error
                *ngIf="!createplace.controls['description'].valid && submitted"
              >
              description is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col main-col">
            <label class="mb-1">Address</label>
  
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="address" />
              <mat-error
                *ngIf="!createplace.controls['address'].valid && submitted"
              >
              address is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <button
            class="login-btn"
            (click)="submitLogin()"
            style="width: 150px; height: 60px"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
  