
<div class="main-div">

      <form [formGroup]="editplace" style="width: 80%">
        <h1 style="text-align: center">Edit Places</h1>
        <div class="row main-row">
          <div class="col main-col">
            <label class="mb-1">Place Name</label>
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="place" />
              <mat-error *ngIf="!editplace.controls['place'].valid && submitted">
                place is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col main-col">
            <label class="mb-1">Description</label>
  
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="description" />
              <mat-error
                *ngIf="!editplace.controls['description'].valid && submitted"
              >
              description is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col main-col">
            <label class="mb-1">Address</label>
  
            <mat-form-field class="form-element" appearance="outline">
              <input matInput formControlName="address" />
              <mat-error
                *ngIf="!editplace.controls['address'].valid && submitted"
              >
              address is Requried
              </mat-error>
            </mat-form-field>
          </div>
          <button
            class="login-btn"
            (click)="submitLogin()"
            style="width: 150px; height: 60px"
          >
            Upadte Places
          </button>
        </div>
      </form>
    </div>

  